aerich==0.7.2
asyncpg==0.30.0
bcrypt==4.3.0
fastapi==0.116.1
email-validator==2.3.0
faster-whisper==1.1.1
Jinja2==3.1.4
openai>=1.99.0
passlib==1.7.4
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic-settings==2.12.0
python-multipart==0.0.20
python-dotenv==1.1.1
python-jose==3.5.0
requests==2.32.5
tortoise-orm==0.20.0
uvicorn==0.35.0
uuid6==2025.0.1
